<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="./assets/styles/player.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

</body>

</html>